extends layout

block content
		.row.justify-content-center
			.col-xs-4
				.card.mb-3(style="width: 300px; height: 100px;")
					img.card-img-top(src="https://s3-media2.fl.yelpcdn.com/bphoto/MmgtASP3l_t4tPCL1iAsCg/o.jpg")
					.card-img-overlay
						.card-title(style="background-color: white; opacity: .9") 
							h4 FOUR BARREL COFFEE
						p.card-text(style="background-color: #FFF") Some sample text
						a.btn.btn-primary(type="button" href="https://www.yelp.com/biz/four-barrel-coffee-san-francisco") Yelp!
			.col-xs-4
				.card.mb-3(style="width: 300px; height: 100px;")
					img.card-img-top(src="https://s3-media2.fl.yelpcdn.com/bphoto/MmgtASP3l_t4tPCL1iAsCg/o.jpg")
					.card-img-overlay
						.card-title(style="background-color: white; opacity: .9") 
							h4 FOUR BARREL COFFEE
						p.card-text(style="background-color: #FFF") Some sample text
						a.btn.btn-primary(type="button" href="https://www.yelp.com/biz/four-barrel-coffee-san-francisco") Yelp!
			.col-xs-4
				.card.mb-3(style="width: 300px; height: 100px;")
					img.card-img-top(src="https://s3-media2.fl.yelpcdn.com/bphoto/MmgtASP3l_t4tPCL1iAsCg/o.jpg")
					.card-img-overlay
						.card-title(style="background-color: white; opacity: .9") 
							h4 FOUR BARREL COFFEE
						p.card-text(style="background-color: #FFF") Some sample text
						a.btn.btn-primary(type="button" href="https://www.yelp.com/biz/four-barrel-coffee-san-francisco") Yelp!
		//- h3.card-header THE PUB
		//- 	|&nbsp;
		//- 	span.price $$$
		//- .card-body
		//- 	h5.card-title A SPECIAL PLACE TO GET DRUNK
		//- 	h6.card-subtitle.text-muted DRUNK AND WHORES WELCOME
		//- 	img(style="height: 200px" src="http://s3-media2.fl.yelpcdn.com/bphoto/MmgtASP3l_t4tPCL1iAsCg/o.jpg")
